
*{
    margin: 0;
    padding: 0;
    border: none;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px auto;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
    padding: 15px;
    font-size: 15px;
}

.contenedor{
    border: 3px solid;
    margin: 1rem;
    padding: 1rem;
}

.contenedor h1{
    text-align: center;
}

.datos-clientes{
    margin: 2rem auto;
    padding: 0.5rem;
    font-size: 1rem;
    width: 75%;
    font-size: 1.5rem;
}

.datos-clientes h2{
    margin-bottom: 2rem;
    text-align: center;
}

.datos-clientes input{
    border: 1px solid;
    padding: 0.3rem;
    width: 80%;
    display: block;
    font-size: 1.5rem;
}

.datos-clientes label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.datos-clientes button{
    padding: 1rem;
    border: 0.2rem solid;
    background-color: aqua;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;

}


.ext-letter{
    margin: 75px auto;
    padding: 3rem 7rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    border: 2px solid black;
}

.ext-letter h3{
    text-align: center;
}

.ext-letter p{
    margin-top: 10px;
}

.justify{
    text-align: justify;
}

.datos-clientes button a{
    text-decoration: none;
    color: black;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.btn-descargar{
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}


